<div class="mdl-card__title">
  <h2 class="mdl-card__title-text">{{content.title}}</h2>
</div>
  
<div class="mdl-card__supporting-text">
  {{content.text}}  
</div>

<div class="mdl-card__menu">
    {{mdl-button icon='delete' isColored=false action=(action 'delete' content.title)}}
  </div>